@import "tailwindcss";

@theme inline {
  --font-main: var(--font-poppins);
  --font-secondary: var(--font-anton);
}

:root {
  --font-color: #353748;
  --background: #004AAB;
}

body {
  color: var(--font-color);
  background: var(--background);
  font-family: var(--font-main);
  /* font-family: var(--font-anton); */
}

::selection {
  background: orange;
  color: white; /* Opsional, bisa disesuaikan */
}
